<div class="container mt-4">
    <form class = 'card p-1'>
        <label for="name">Name: </label>
        <input id="name" type="text" [formControl]="name">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sex
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuSex">
                <a class="dropdown-item" href="#">Female</a>                
                <a class="dropdown-item" href="#">Male</a>                
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Status
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuStatus">
                <a class="dropdown-item" href="#">Alive</a>                
                <a class="dropdown-item" href="#">Deceased</a>                
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuTaxa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Taxa
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuTaxa">
                <a class="dropdown-item" href="#">North Island Brown</a>                
                <a class="dropdown-item" href="#">Rowi</a>                
                <a class="dropdown-item" href="#">Little Spotted</a>                
                <a class="dropdown-item" href="#">Great Spotted</a>                
                <a class="dropdown-item" href="#">Tokoeka</a>                

            </div>
        </div>


    </form>
</div>
